@font-face {
   font-family: 'GrandisCondensed-Medium';
   font-display: swap;
   src: url('GrandisCondensed-Medium/font.ttf');
}
@font-face {
   font-family: 'GrandisCondensed-Light';
   font-display: swap;
   src: url('GrandisCondensed-Light/font.ttf');
}
@font-face {
   font-family: 'GrandisCondensed-Regular';
   font-display: swap;
   src: url('GrandisCondensed-Regular/font.ttf');
}
