@font-face {
   font-family: 'GrandisCondensed-Regular';
   font-display: swap;
   src: url('file:///Users/volkovecom/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-09-27_134653/fonts/GrandisCondensed-Regular/font.ttf');
}
